<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131478554-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131478554-2');
</script>

  <title>Social Distancing Charades</title>
  <style>
    input {
      font-size: 20px;
    }
    .button {
      background-color: green;
      color: white;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      border-radius: 8px;
    }
  </style>
</head>
<body>
  <a href="/">
    <h2>Social Distancing Charades</h2>
  </a>

  <hr />

  <form method="post">
    <input type="text" name="add_word" />
    <input class="button" type="submit" value="Add a word" />
  </form>

  <hr />

  <form method="post">
    <input type="hidden" name="get_random_word" value="t" />
    <input class="button" type="submit" value="Get a word" />
  </form>
  <h3>
    <b>{{random_word}}</b>
    {% if num_words_left != None %}
      ({{num_words_left}} words left)
    {% endif %}
  </h3>

  <hr />

  <p>
    You created a room. To play with friends:
    <ol>
      <li>Share this URL with them: <pre>{{room_url}}</pre></li>
      <li>Each person "Add a word" (as many times as you like)</li>
      <li>When it's your turn, "Get a word" and then act it out over video chat.</li>
    </ol>
  </p>
</body>
